@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Inter:wght@300&family=Lobster&family=Open+Sans:wght@300&family=Rethink+Sans:wght@600&family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10px;
}

ul {
    text-align: end;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 1rem
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
}

li a:hover {
    border-bottom: 3px solid white
}

.home {
    width: 90vw;
    height: 100vh;
    background-image: url("coding.jpg");
    object-fit: cover;
    background-size: cover;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.905);
}

.h-n {
    background-color: rgba(0, 0, 0, 0.424);
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.443);
    display: block;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}

.about {
    margin-top: 1rem;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-me {
    border: 1px solid white;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-me p {
    width: 50%;
    text-align: center;
}

.about-me .img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    background-image: url('Picture.jpg');
    background-size: cover;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.1);
}

.my-skills {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid white
}

.my-skills p:hover {
    transform: scale(1.2);
}

.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 200px;
}

.projects-page h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.amazon-clone {
    min-width: 40vw;
    min-height: 50%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.351);
    box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.591);
    border-radius: 10px;
    text-align: center;
}

.RockPaperScissor,.TicTacToc {
    background-image: url("RockPaperScissor.png");
    width:90%;
    height: 70%;
    background-size: cover;
    border-radius: 10px;
    margin:10px 20px
}

.TicTacToc {
    background-image: url('TicTacToc.png');
}

.insta-row {
    display: flex;
    width: 100%;
    height: 77%;
    flex-wrap: nowrap;
}

.instagram-clone-out {
    width: 100%;
    height:auto;
    margin:10px auto 0px 10px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 10px;
    background-image: url('instagram.png');
}

.one {
    background-image: url("search.png");
}

.two {
    background-image: url("profile.png");
}

.amazon-clone:hover {
    background-image: linear-gradient(to bottom right, rgba(255, 99, 71, 0.928), rgba(0, 0, 255, 0.654));
}

.amazon-clone .git {
    color: white;
    text-decoration: none;
    min-width: 40%;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.637);
    display: inline-block;
    margin-top: 1rem;
    border-radius: 10px;
}

.git:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.amazon-clone-out {
    margin:10px 20px;
    width: 90%;
    height: 70%;
    background-image: url('Amazon.png');
    background-size: cover;
    border-radius: 10px;
}

@media only screen and (max-width:768px) {
    .home{
        height:60vh;
        
    }
    .about{
        flex-direction: column;
        box-sizing: border-box;
    }
    .img{
        object-fit: cover;
        background-size: contain;
    }
    .about-min{
        width:100%;
        height:50%;
        border-radius: 10px;
        margin:10px;
        padding:5px;
    }
    .amazon-clone {
       width:90%
    }
li:last-child{
    display: none
}
footer{
   visibility: hidden;
}
}
@media screen and ((min-width:769px) and (max-width:1024px)) {
    .amazon-clone{
        width:45vw;
        height:50%
    }
}
.contact {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 4rem;

}

.footer {
    font-size:20px;
    display: flex;
    margin-bottom:100px;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: yellow;
}

.linkedin,
.hackerRank,
.github,
.email {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.143);
}

.linkedin:hover,
.hackerRank:hover,
.github:hover,
.email:hover {
    background-color: rgba(255, 255, 255, 0.311);
}
